server:
  port: 8082

spring:
  application:
    name: notification-service
  cloud:
    config:
      uri: http://localhost:8888
      fail-fast: false
  config:
    import: optional:configserver:http://localhost:8888

notification:
  kafka:
    topic: notification-events
